@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';
@import "~bootstrap/dist/css/bootstrap.css";
body{
	font-family: Montserrat, Archivo,
	 Karla,  Concert One,  Poppins, Serif;
	font-size: 14px;
	margin:0px;

}


