<!-- Header Section -->
<nav class="navbar  navbar-expand-lg  sticky-top home-nav  bg-light ">
	<div class="container">
  <a class="navbar-brand btn btn-light" href="/">Acme</a>
  <button class="navbar-toggler navbar-light"  type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
   
    <ul class="navbar-nav ml-auto" >
      <li class="nav-item dropdown d-none">
        <a class="nav-link dropdown-toggle home-a" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
      	<a routerLink="/login" class="nav-link btn btn-light btn-sm">login</a>
      </li>
      <li class="nav-item">
      	<a routerLink="/register" class="nav-link btn btn-light btn-sm">Register</a>
      </li>
      
    </ul>

    
  </div>
</div>
</nav>
<!-- Header Section -->
<div class=" home-banner container-fluid">

	<div class="row text-center pt-5">
		<div class="col-md-1"></div>
		<div class="col-md-10 text-center">
			<h2>Create And Find Your Notes </h2>
		</div>
		<div class="col-md-1"></div>
	</div>
	<div class="row text-center mt-5">
		<div class="col-md-1">
		</div>
		<div class="col-md-2">
			<a routerLink="/text-notes" class="btn btn-outline-secondary"><h3>Text Notes</h3></a>
		</div>
		<div class="col-md-2">
			<a routerLink="/article-notes" class="btn btn-outline-secondary"><h3>Article Notes</h3></a>
		</div>
		<div class="col-md-2">
			<a routerLink="/picture-notes" class="btn btn-outline-secondary"><h3>Picture  Notes</h3></a>
		</div>
		<div class="col-md-3">
			<a routerLink="/document-notes" class="btn btn-outline-secondary"><h3>Document Notes</h3></a>
		</div>
		<div class="col-md-1">
		</div>

		
		
		
	</div>
</div>
<div class="container">
	<div class="row">
		<div>
			
		</div>
	</div>
</div>


